<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipeToDisplay.imagePath"
      alt="{{recipeToDisplay.name}}"
      class="img-responsive"
      style="max-height: 30%; max-width: 30%;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeToDisplay.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="cursor-type" (click)="onToShoppingListClick()">To Shopping List</a></li>
        <li><a (click)="onEditClick()" class="cursor-type">Edit Recipe</a></li>
        <li><a (click)="onDeleteClick()" class="cursor-type">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <br>
      <p>{{recipeToDisplay.description}}</p>
      <br>
    </div>
  </div>
</div><div class="row">
  <div class="col-xs-12">

    <ul class="list-group">
      <li
        style="margin-top: 3px"
        class="list-group-item"
        *ngFor="let ing of recipeToDisplay.ingredients"
      >{{ ing.name }} - {{ ing.amount }}</li>
    </ul>
  </div>
</div>
