<!--SHOPPING LIST APP STARTS-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--<app-header-->
        <!--(clickedTab)="onTabClicked($event)"-->
      <!--&gt;</app-header>-->
      <app-header></app-header>
      <router-outlet></router-outlet>
      <!--<app-recipes *ngIf="displayRecipes === false"></app-recipes>-->
      <!--<app-shopping-list *ngIf="displayRecipes === true"></app-shopping-list>-->
    </div>
  </div>
</div>
<!--SHOPPING LIST APP ENDS-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<app-server></app-server>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--app-only-odd starts-->
<!--<app-only-odd></app-only-odd>-->
<!--app-only-odd ends-->

<!--app-ng-switch starts-->
<!--<app-ng-switch></app-ng-switch>-->
<!--app-ng-switch ends-->

<!--app-more-on-renderer starts-->
<!--<app-more-on-renderer></app-more-on-renderer>-->
<!--app-more-on-renderer ends-->

