<!--SHOPPING LIST APP STARTS-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--&lt;!&ndash;<app-header&ndash;&gt;-->
        <!--&lt;!&ndash;(clickedTab)="onTabClicked($event)"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;</app-header>&ndash;&gt;-->
      <!--<app-header></app-header>-->
      <!--<router-outlet></router-outlet>-->
      <!--&lt;!&ndash;<app-recipes *ngIf="displayRecipes === false"></app-recipes>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-shopping-list *ngIf="displayRecipes === true"></app-shopping-list>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--SHOPPING LIST APP ENDS here-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<app-server></app-server>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--app-only-odd starts-->
<!--<app-only-odd></app-only-odd>-->
<!--app-only-odd ends-->

<!--app-ng-switch starts-->
<!--<app-ng-switch></app-ng-switch>-->
<!--app-ng-switch ends-->

<!--app-more-on-renderer starts-->
<!--<app-more-on-renderer></app-more-on-renderer>-->
<!--app-more-on-renderer ends-->

<!--ROUTING STARTS HERE-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          [routerLinkActiveOptions] = "{exact: true}"
          routerLinkActive="active"
          class="active">
          <a routerLink="/">Home</a>
        </li>
        <li
          role="presentation"
          routerLinkActive="active" >
          <a routerLink="/servers">Servers</a>
        </li>
        <li
          role="presentation"
          routerLinkActive="active" >
          <a [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--<div class="row">-->
  <!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
  <!--<app-home></app-home>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
  <!--<app-users></app-users>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
  <!--<app-servers></app-servers>-->
  <!--</div>-->
  <!--</div>-->
</div>

<!--ROUTING ENDS HERE-->
